*{
    padding: 0;
    margin: 0;
}
.nav{
    height: 50px;
    width: 600px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: grey;
}
.btnlog{
    background-color: cornflowerblue;
    width: 60px;
    height: 25px;
    box-shadow: 2px 1px black;
}
input{
    width: 300px;
    height: 25px;
    border: 2px solid black;
}
.main{
    width: 700px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.contenedor{
    display: flex;
    width: 700px;
}
.cuadro{
    display: flex;
    height: 100px;
    width: 300px;
    border: solid 2px black;
    padding: 20px;
    margin-top: 20px;
    align-items: baseline;
}
.cuadro2{
    height: 100px;
    width: 200px;
    border: solid 2px black;
    margin-top: 20px;
    padding: 20px;
    margin-left: 10px;
}
h3{
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#btn{
    height: 30px;
    width: 150px;
    background-color: rgb(117, 163, 117);
    margin-top: 5px;
    margin-left: 15%;
    box-shadow: 2px 1px black;
}
.btn2{
    background-color: rgb(231, 186, 71);
    width: 70px;
    height: 25px;
    margin-top: 5px;
    box-shadow: 2px 1px black;
}